<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shopify Backend Challenge</title>

	<script src="https://kit.fontawesome.com/7d6575cc8d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<header id="header">
		<nav>
			<div class="container">
				<div class="text-center">
					
					<a href="/" class="nav-brand text-light">Shopify Backend Challenge</a>
				</div>
			</div>
		</nav>
	</header>
